include mixins
section#about
  .row
    .span4.offset2
      +thumb("images/jonah.jpg", "#")
    .span4
      != contents['about.md'].html
      a.btn.btn-primary(href="mailto:#{locals.email}")
        i.icon-envelope.icon-white
        span   Get in touch
      span= locals.email
