!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.title
      //-link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      //-link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
      meta(name="description", content=locals.description)
      meta(name="author", content=locals.owner)

      link(rel='stylesheet', href='/style/github.css')
      link(rel='stylesheet', href='/style/main.css')
  body
    block content
      p There's no content yet...

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32901857-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
