- var meta = proj.metadata;
section(id="#{meta.id}")
  .row
    .span4
      h2: a(href="##{meta.id}")!= proj.title
      block description
        - console.log("projhere");
        != proj.html
        if meta.btntext
          +btn(meta.btntext + " &raquo;", proj.url)
    .span8
      block graphic
        if meta.image
          +thumb("images/" + meta.image, meta.url)
        else if meta.video
          +video(meta.video)
