calcUrl = "calcoolator/"
paperUrl = "calcoolator/calcoolator-paper.pdf"

+col(4)
  +title("Cal-cool-ator", "calcoolator")
  :markdown
    Inspired by [Bret Victor](http://worrydream.com), the Cal-cool-ator is an
    attempt to transform the traditional graphing calculator into a
    more powerful pedagogical tool. While most calculators let
    students turn an equation into a graph, the Cal-cool-ator allows
    students to create and modify functions using an equation, graph, or
    table representation. When one representation changes, the others
    update instantly.

    [Jessica Liu](http://cakefordinner.com/), Clara Kliman-Silver, and
    I designed and created a [prototype](#{calcUrl}). We also wrote [a
    paper](#{paperUrl}) explaining some of the motivation and ideas
    behind the project. (Beware, it's a very rough prototype!)

  +btn(calcUrl, "Try the prototype &raquo;")

+col(8)
  +thumb("img/calcoolator.jpg", calcUrl)
