.row
  +col(12)
    +title("Rube Goldberg Machines", "rubes")

.row
  +col(8)
    +video("http://www.youtube.com/embed/dFWHbRApS3c")
  +col(4)
    h3 Six Rube Goldberg Machines
    :markdown
      This was a senior project at [Crossroads School for Arts and
      Sciences](http://xrds.org). My friend [Gage
      Boozan](http://soundcloud.com/gage-boozan) and I stopped
      attending classes for the last six weeks of the school year and
      instead spent all day inside a tiny, unused weight room building
      machines.

.row
  +col(4)
    h3 Disney XD Station ID
    :markdown
      I got the opportunity to work with the awesome folks [Syyn
      Labs](http://syynlabs.com/) on this quick machine for Disney XD.
      They're also the people behind the incredible [OK GO
      Rube Goldberg Machine](http://youtu.be/qybUFnY7Y8w).
  +col(8)
    +video("http://www.youtube.com/embed/mcJ7xAAdzcg")
